.Input {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.inputField {
    padding: 8px;
    flex: 1;
    font-size: 24px;
    outline: none;
}

.historyToggleButton {
    background-image: url("../../../assets/buttons/history.png");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-left: 6px;
}

.historyToggleButton:hover {
    cursor: pointer;
}
